Hollar-Back/node_modules
Hollar-Back/public/bundle.js
Hollar-Back/public/bundle.js.map
Hollar-Back/.DS_Store
Hollar-Back/npm-debug.log
Hollar-Back/yarn-error.log
Hollar-Back/package-lock.json
Hollar-Back/secrets.js



Hollar-Front/node_modules
Hollar-Front/.expo/
Hollar-Front/npm-debug.*
Hollar-Front/*.jks
Hollar-Front/*.p8
Hollar-Front/*.p12
Hollar-Front/*.key
Hollar-Front/*.mobileprovision
Hollar-Front/*.orig.*
Hollar-Front/web-build/
Hollar-Front/.env
.DS_Store
